<div class="container mt-4 lg-col-6 sm-col-12">
    <div class="mb-3 text-center">
        <h2>Chỉnh sửa Khu Vực {{vung.TenVung}}</h2>
    </div>
    <form action="/vung/{{vung.VungId}}?_method=PUT" method="post">
        <div class="mb-3">
            <label for="tenvung" class="form-label">Tên Vùng</label>
            <input class="form-control" type="text" name="tenvung" id="tenvung" value="{{vung.TenVung}}">
        </div>
        <div class="mb-3">
            <label for="dientich" class="form-label">Diện Tích</label>
            <input class="form-control" type="text" name="dientich" id="dientich" value="{{vung.DienTich}}">
        </div>
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Chỉnh Sửa</button>
        </div>
    </form>
</div>